.servicesContent{ 
    display:grid; 
    grid-template-areas: 
        "sechead sechead servmod1 servmod1 servmod1 servmod1 servmod1 servmod1 servmod1 servmod1 servmod1"
        "sechead sechead servmod2 servmod2 servmod2 servmod2 servmod2 servmod2 servmod2 servmod2 servmod2"
        "sechead sechead servmod3 servmod3 servmod3 servmod3 servmod3 servmod3 servmod3 servmod3 servmod3";
}

.section_header{ 
    display:grid;
    grid-area:sechead;
}
.serviceModule{ 
    display:flex; 
    text-align:start;
    padding:30px 0px; 
    justify-content:space-between;
    grid-area:servmod1;
}
.serviceModule1 img{ 
    border-radius:30px;
}
.mod1{
    grid-area:servmod1;
}
.mod2{
    grid-area:servmod2;
}
.mod3{
    grid-area:servmod3;
}
.serviceModule2{ 
    display:flex; 
    text-align:start;
    padding:30px 0px; 
    justify-content:space-between;
    grid-area:servmod2;
}

.serviceModule3{ 
    display:flex; 
    text-align:start;
    padding:30px 0px; 
    justify-content:space-between;
    grid-area:servmod3;
}
@media screen and (max-width:799px){ 
    .serviceModule{ 
        flex-direction:column; 
        justify-content:center;
        align-items:center;
    }
}

